body{
    font-family: 'Raleway', sans-serif;
}

.my-logo{
    width: 100px;
    height: 100px;
}

.my-separator::after{
    content: "";
    display: block;
    border: 1px solid #ffc107;
    width: 75%;
    margin: 15px auto;
}

.my-brand-text{
    letter-spacing: 10px;
    font-size: 25px;
}

.my-email{
    color: black;
    text-decoration: none;
}

#wholeContent{
    display: none;
}